#root{
  height: 100%;
  width: 100%;
}
.app {
  height: 100%;
  width: 100%;
}
body {
  background-color: #000000;
  color: white;
}

.mainContainer {
  height: 100%;
  width: 100%;
}

.navBar {
  position: fixed;
  background-color: black;
  opacity: .7;
  display: block;
  z-index: 1;
  width: 100%;
}
.logoutButton {
  position: absolute;
  top: 30%;
  right: 5%;
  background: none;
  color: white;
  font-weight: bold;
  opacity: .8;
  outline:none;
}
.logoutButton:hover {
 
  background: white;
  color: black;
  opacity: .8;
  
}
.searchBar {
  position: absolute;
  top: 28%;
  right: 10%;
  height: 2em;
  background-color: transparent;
  background-image: url(assets/search_icon.png);
  background-position: 4px 3px;
  background-repeat: no-repeat;
  border-color: transparent;
  border-radius: 10px;
  color: white;
  padding-left: 30px;
  outline:none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: .1em;

}

.searchBar:focus {
  border-color: white;
  width: 9em;
  color: white;
}
.rowContainer {
  margin: 20px;
  height: auto;
  width: auto;
}

.movieRow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: 1s transform;
  margin-left: 2em;
 
}
.movieRow::-webkit-scrollbar { 
  display: none; 
}

.movieRow:hover {
  transform: translate3d(-40px, 0, 0)
}

.movieCard {
  height: auto;
  width: auto;

  display: inline-block;
  /* transform-origin: top left; */
  margin-top: 10px;
  position: relative;

  transition: .8s transform;
  padding: 5px;

}
.movieCard:hover {
  transform: scale(1.25);
  margin-top: 0px;
  margin-left: 50px;
  margin-right: -30px;
  /* margin-right: 20px; */
  
}

.movieCard:hover ~ .movieCard {
  transform: translate3d(80px, 0, 0);
}

.overlay {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;

  top: 0%;
  position: absolute;
  opacity: 0;
  transition: 0.75s opacity;
  font-weight: bold;
}

.overlay p { 
  color: white;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin-top: 35%;
  margin-left: 5%;

  /* top: 60%;
  left: -25%; */
  opacity: 1;
  
}

#favoriteButton {
  color: white;
  position: absolute;
  background: none;
  max-width: 100%;
  max-height: 100%;
  margin-top: 45%;
  margin-left: 70%;
  font-weight: bold;
 
  outline:none;
}

#favoriteButton:hover {
  background-color: white;
  color: black;
}

.movieImg {
  height: auto;
  max-height: 11em;
}

#detailsButton {
  color: white;
  position: absolute;
  background: none;  
  max-width: 100%;
  max-height: 100%;
  margin-top: 45%;
  margin-left: 40%;
  font-weight: bold;
  outline:none;
  

}

#detailsButton:hover {
  background-color: white;
  color: black;
}


.overlay:hover {
  opacity: 1;
}



.movieTitle { 
  text-align: left;
}

.movieDetails {
height: 25em;
}
#exitMovieDetails {
  background: transparent;
  color: white;
  font-weight: bold;
  outline:none;
}
#exitMovieDetails:hover {
  background: white;
  color: black;
}

#trailerDiv {
  left: 50%;
  position: absolute;
  width: 60%;
}

#movieInfo {
  position: absolute;
  margin-top: 20px; 

  width: 40%;
  margin-left: 20px;
}

.netflixRowContainer {
  margin-top: -140px;
  margin-left: 20px;
}

.netflixFave{
  top: 50%;
  right: 10%;
}
.netflixDeets {
  top: 50%;
}

.NetflixImg {
  height: auto;
  width: auto;
  max-height: 24em;
}

#featuredMovie {
  align-content: center;
  /* margin: 20px; */
  display: block;
  height: 60em;
  width: 100em;
  position: relative;
}
#featuredImg {

  size: auto;
  max-height: 100%;
  max-width: 100%;
  opacity: .8;
  position: relative;

}
#featuredLike {
  position: absolute;
  height: 3em;
  width: 7em;
  top: 50%;
  right: 65%;
  background: none;
  color: white;
  font-weight: bold;
  opacity: .8;
  outline:none;
  
}

#featuredLike:hover {
 
  background: white;
  color: black;
  opacity: .8;
  
}

#featuredDetails {
  position: absolute;
  height: 3em;
  width: 7em;
  top: 50%;
  right: 75%;
  background: none;
  font-weight: bold;
  color: white;
  outline:none;
}

#featuredDetails:hover {
 
  background: white;
  color: black;
  opacity: .8;
  
}
#brawlText {
  position: absolute;
  height: 12em;
  top: 30%;
  right: 65%;
  opacity: .9

}

.searchRow{
  margin-top: 10px;
  height: 50em;
}

.searchRowToMove{
  top: 15%;
  position: relative;
}

.showMeMore {
  background: transparent;
  font-weight: bold;
  color: white;
  outline:none;
}

.showMeMore:hover {
  background: red;
  color: white;
  outline:none;

}
